doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    style(type="text/css"): include dist/styles.css
  body
    #banner
    #grid
    #selected
    script(type="text/javascript")
      include dist/social-wall-client.js
      